.sec{
background-color: rgb(32, 32, 32);
}



.sn{
  background-color: rgb(151, 90, 10);
  /* font-size: 18px; */
  color: rgb(230, 215, 10); 
  padding-left: 18px;
  height: 45px;
}

.name{
    font-size: 15px;
    padding-left: 20px;
    transform: translate(35%, 10%);
}

.name2{
    font-size: 15px;
    padding-left: 20px;
    transform: translate(33%, 10%);
}

.name3{
    font-size: 15px;
    padding-left: 20px;
    transform: translate(38%, 10%);
}

.name4{
    font-size: 15px;
    padding-left: 20px;
    transform: translate(37.5%, 10%);
}
.name5{
    font-size: 15px;
    padding-left: 20px;
    transform: translate(38.5%, 10%);
}

.name6{
    font-size: 15px;
    padding-left: 20px;
    transform: translate(39%, 10%);
}

.name7{
    font-size: 15px;
    padding-left: 20px;
    transform: translate(36.2%, 10%);
}

.name8{
    font-size: 15px;
    padding-left: 20px;
    transform: translate(28.2%, 10%);
}

.name9{
    font-size: 15px;
    padding-left: 20px;
    transform: translate(48%, 10%);
}

.fo{
    background-color: rgb(151, 90, 10);
    font-size: 18px;
    color: rgb(230, 215, 10); 
    padding-left: 18px;
    height: 55px;
    text-align: end;

}

.but1{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: green;
    color: white;
    border: none;
    margin-right: 5px;
}

.but2{
    padding: 10px 20px;
    margin-top: 10px;
    background-color: red;
    color: white;
    border: none;
    margin-right: 20px;
}